.data-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #2c3e50;
        &.first-row {
            border-top: 1px solid #2c3e50;
        }
        .cell {
            flex: 1;
            color: #2c3e50;
            border-left: 1px solid #2c3e50;
            padding: 5px;
            span {
                width: 100%;
                font-size: 0.75rem;
            }
            input {
                border: none;
                width: 100%;
                font-size: 0.75rem;
            }
            &:last-child {
                border-right: 1px solid #2c3e50;
            }
        }
    }
}
